.enrollee-card {
  margin: 20px 10px;
  flex: 1;
  min-width: 25%;
}

.enrollee-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.enrollee-actions {
  text-align: center;
}

.enrollee-actions button {
  margin-right: 10px;
}

.card-title {
  width: 100%;
  font-size: large;
}
