<div class="enrollee">

  <h2 class="text-center">{{enrollee?.name}}</h2>

  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-2 font-weight-bold">ID:</div>
      <div class="col-10">{{enrollee?.id}}</div>
    </div>

    <div class="row">
      <div class="col-2 font-weight-bold">Status:</div>
      <div class="col-10">
        <ng-container *ngIf="enrollee.active">Active</ng-container>
        <ng-container *ngIf="!enrollee.active">Inactive</ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-2 font-weight-bold">Birth Date:</div>
      <div class="col-10">{{enrollee.dateOfBirth}}</div>
    </div>

  </div>

  <button class="bottom-toolbar" mat-raised-button color="primary" [routerLink]="['/']">Return</button>

</div>